coloredlogs==15.0.1
daal==2021.2.3
llvmlite==0.42.0
easydict==1.9
GitPython==3.1.43
h5py==3.6.0
ipython==8.12.3
matplotlib==3.5.2
nibabel==3.2.2
numpy==1.24.3
open3d==0.15.2
pandas==1.4.2
PyYAML==6.0.1
scikit_learn==1.1.0
scipy==1.7.3
tensorboardX==2.6.2.2
torch==1.11.0
torchvision==0.12.0
torch_points_kernels==0.7.0
torchvision==0.12.0
tqdm==4.66.4
vtk_visualizer==0.9.6
